.CARD{
width: 100%;
display: flex;
}
.CARD_IMG{
    z-index: 1;
    width:80px;
    height:60px;
    background-repeat: no-repeat;
    background-position: center;
   background-size:cover;
}
.CARD_DIV{
    
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.CARD_Data1{
    
font-family: "PIXEL";
font-size: 10px;
z-index: 5;
margin: 0;
}
.CARD_Data2{
font-family: "PIXEL";
font-size: 10px;
z-index: 10;
}

.TEXT_POKE{
    font-family: "PIXEL";
    font-size: 13px;
    color: greenyellow;
 
}
.HEIGTH{
    position: relative;

    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 34px;
    display: flex;
    align-items: center;
    font-family: "PIXEL";
    font-size: 12px;
    color: black;
    top: 24px;
    left: 11px;
}
.WEIGTH{
position: relative;

padding: 0px;
margin: 0px;
width: 48px;
height: 30px;
display: flex;
align-items: center;
font-family: "PIXEL";
font-size: 12px;
color: black;
top: -5px;
left: 56px;
}
.T1{
position: relative;
border: 1px solid black;
padding: 0px;
margin: 0px;
width: 95px;
height: 35px;
display: flex;
align-items: center;
font-family: "PIXEL";
font-size: 12px;
color: greenyellow;
top: 21px;
right: -7px;
}
.T2{
position: relative;
border: 1px solid black;
padding: 0px;
margin: 0px;
width: 95px;
height: 35px;
display: flex;
align-items: center;
font-family: "PIXEL";
font-size: 12px;
color: greenyellow;
top: -8px;
right: -117px;
}
.POKEMON_DETAIL{
width: 100%;
height: 100%;
overflow: hidden;

}
.POKEMON_DETAIL_IMG{
width: 100%;
height: 100%;
position: relative;
top: -10px;
}
.POKEMON_DETAIL_NAME{
margin: 0;
padding: 0;
position: relative;
top: 10px;
right: -10px;
font-family: "PIXEL";
font-weight: 700;
}