.CARD{
width: 100%;
display: flex;
}
.CARD_IMG{
    z-index: 1;
    width:80px;
    height:60px;
    background-repeat: no-repeat;
    background-position: center;
   background-size:cover;
}
.CARD_DIV{
    
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.CARD_Data1{
    
font-family: "PIXEL";
font-size: 10px;
z-index: 5;
margin: 0;
}
.CARD_Data2{
font-family: "PIXEL";
font-size: 10px;
z-index: 10;
}

.TEXT_POKE{
    font-family: "PIXEL";
    font-size: 13px;
    color: greenyellow;
 
}