.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    border: 2px solid black;
}

.main_PANEL{
    background: url("../../public/Artboard1.png");
    width: 100%;
           height: 510px;
        background-size: 600px 500px;
   display: flex;
   flex-direction: row;
   align-items: center;
    background-position: center;
   
    border: 2px solid red;
    background-repeat: no-repeat;
    z-index: 1;
    margin-inline: auto;
}



.left{
    direction: rtl;
    width:50% ;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    height: 100%;
     border: 2px solid black;
   padding-bottom: 30px;
    }
    .item_top_L{
                      font-size: 26px;
        font-family: "PIXEL","tahoma";
        top: 60px;
        direction: ltr;
        height: 60px;
        width: 50px;
        border: 2px solid rgb(232, 239, 25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:  7px;
        border-radius: 50%;
        text-align: center;
 position: relative;
 top: -8px;
        right: 127px;
    }
    .NUMBERID{ /*MOBILE-SIZE! ---SE PUEDEN QUITAR BORDERS*/
        padding: 8px;
         margin-bottom: 18px;

        align-content: center;
        border: 1px solid blue;
        height: 50px;
        width: 40px;
        border-radius: 50%;
    }
    .itemMAIN{
        direction: ltr;
        width: 145px;
        height: 150px;
        border: 2px solid yellow;
        padding-left: 16px;
        position: relative;
        top: 20px;
        right: 20px;
        overflow: scroll;
        
        
    }
  
.itemDOWN{
        border: 2px solid rgb(231, 227, 10);
    width: 100%;
    height: 90px;
    position: relative;
    top: 19px;
}
.down_Box{
    height: 37px;
    width: 66px;
    border: 2px solid rgb(231, 227, 10);
    direction: ltr;
padding-left: 30px;
position: relative;
top: 3px;
right: 80px;
}
.down_Box1{
    height: 50%;
    width: 100%;
   
    direction: rtl;
display: flex;

}
.BOX1{
    width: 40px;
    height: 100%;
    border: 2px solid white;
}
.SUB0{
    width: 25px;
    height: 27px;
    border: 2px solid white ;
    border-radius: 50%;
    position: relative;
    top: 7px;
    right: 139px;
}
.BOX2{
    display: flex;
    width: 80px;
    height: 100%;
border: 2px solid white;
}
.SUB{
    position: relative;
    width: 27px;
    height: 10px;
    margin: 4px;
    border: 2px solid black;
    top: 10px;
    right: 42px;
}
.down_Box_4{
    
    
    height: 100%;
    width: 45%;
}




.rigth{

    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: ltr;
     border: 2px solid black;
     width: 50%;
     height: 100%;
     gap: 15px;
}
.item_R_UP{
     
    border: 2px solid rgb(35, 187, 96);
    width: 140px;
    height: 120px;
    position: relative;
    top: 60px;
    left: 30px;
}

.item1_R_DOWN{
     
    border: 2px solid rgb(35, 187, 96);
    width: 150px;
    height: 120px;
    position: relative;
    top: 40px;
    left: 25px;
}
@media (min-width: 431px){
    .main_PANEL{
        height: 510px;
        background-size: 780px 500px;
    }
    .item_top_L{
        right: 174px;
        top: -6px;
    }
    .itemMAIN{
        height: 155px;
        width: 185px;
        right: 30px;
    }
    .SUB0{
        right: 186px;
        top: 5px;
    }
.SUB{
    width: 35px;
    right: 66px;
}
.down_Box{
    width: 85px;
    right: 105px;
}
    .item_R_UP{
        width: 185px;
        left: 35px;
        top: 55px;
    }
    .item1_R_DOWN{
width: 200px;
left: 25px;
    }
    .itemDOWN{
        width: 220px;
    }
}


@media (min-width:600px){
    .main_PANEL{
        height: 510px;
        background-size: 850px 550px;
    }
  .item_top_L{
        right: 187px;
        top: -12px;
                height: 60px;
        width: 60px;
    }
    .itemMAIN{
        height: 170px;
        width: 200px;
        right: 35px;
    }
    .SUB0{
        right: 200px;
        top: 5px;
            width: 31px;
    height: 31px;
    }
.SUB{
    width: 35px;
    right: 73px;
}
.down_Box{
    width: 95px;
    right: 115px;
    top: 6px;
}
    .item_R_UP{
        width: 200px;
        left: 40px;
        height: 130px;
        top: 55px;
    }
    .item1_R_DOWN{
width: 220px;
left: 35px;
    }
    .itemDOWN{
        width: 220px;
    }
}
@media (min-width:800px){
    .main_PANEL{
        height: 510px;
        background-size: 870px 570px;
        
    }
  .item_top_L{
        right: 192px;
        top: -12px;
                height: 60px;
        width: 60px;
    }
    .itemMAIN{
        height: 177px;
        width: 204px;
        right: 35px;
    }
    .SUB0{
        right: 208px;
        top: 6px;
            width: 31px;
    height: 31px;
    }
.SUB{
    width: 35px;
    right: 80px;
}
.down_Box{
    width: 90px;
    right: 120px;
    top: 6px;
}
    .item_R_UP{
        width: 208px;
        left: 40px;
        height: 130px;
        top: 55px;
    }
    .item1_R_DOWN{
width: 220px;
left: 35px;
    }
    .itemDOWN{
        width: 220px;
    }
}


