.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    border: 2px solid black;
}

.main_PANEL{
    background: url("../../public/Artboard1.png");
    width: 100%;
    height: 510px;
   display: flex;
    background-position: center;
    background-size: contain;
    border: 2px solid red;
    background-repeat: no-repeat;
    z-index: 1;
    margin-inline: auto;
}
.left{
    width:50% ;
    height: 100%;
     border: 2px solid black;
}
.rigth{
     border: 2px solid black;
     width: 50%;
     height: 100%;
}
@media (min-width: 420px){
    .main_PANEL{
        height: 510px;
        background-size: 780px 500px;
    }
}


@media (min-width:600px){
    .main_PANEL{
        height: 510px;
        background-size: 850px 550px;
    }
}
@media (min-width:800px){
    .main_PANEL{
        height: 510px;
        background-size: 870px 570px;
        
    }
}

